*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(/assests/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    font-family: "Inter";
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    height: 72px;
    border-bottom: 1px solid #EAECF0;
    padding: 20px 160px;
}

.header-container{
    display: flex;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title-container{
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo{
    height: 32px;
    width: 32px;
}

.main-title{
    font-size: 24px;
    color: #354153;
}

.nav{
    display: flex;
}

.nav-item{
    list-style-type: none;
    color: #0D1421;
}

.user-icon{
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
}

.main-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
    max-width: 1600px; 
    width: 100%; 
    margin: 40px auto 0 auto; 
}

.main-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    max-width: 1600px; 
    width: 100%; 
    }

.bottom-nav{
    display: flex;
}

.bottom-list{
    list-style-type: none;
}

.first-nav-button{
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    display: inline-block;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.first-nav-button:hover{
    background-color: #F2F4F7;
    cursor: pointer;
}

.nav-button{
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    display: inline-block;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.nav-button:hover{
    background-color: #F2F4F7;
    cursor: pointer;
}

.last-nav-button{
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    display: inline-block;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.last-nav-button:hover{
    background-color: #F2F4F7;
    cursor: pointer;
}

.button-text{
    font-size: 16px;
    font-weight: 600;
    color: #354153;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown {
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    gap: 13px;
    font-size: 16px;
    font-weight: 600;
    color: #354153;
    cursor: pointer;
}

.dropdown:hover {
    background-color: #F2F4F7;
}

.pointer {
    height: 5px;
    width: 10px;
    transition: transform 0.3s ease;
}

.dropdown-wrapper.active .pointer {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    width: 100%;
    padding: 8px 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    z-index: 10;
}

.dropdown-wrapper.active .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-menu-item {
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 6px 0 6px;
    list-style-type: none;
}

.dropdown-menu-item:hover{
    background-color: #F2F4F7;
    outline: none;
}

.dropdown-menu-item-text {
    font-size: 16px;
    color: #354153;
    cursor: pointer;
}

.main-section-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.main-section-list-item{
    width: 376px;
    height: 600px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    list-style-type: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-item-header-container{
    display: flex;
    justify-content: space-between;
}

.list-item-header-font{
    font-size: 16px;
    color: #667085;
}

.list-item-img{
    width: 328px;
    height: 225px;
}

.list-item-title{
    font-size: 24px;
    color: #0D1421;
    font-weight: 500;
}

.list-item-subtitle{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    color: #354153;
    font-weight: 400;
    font-size: 18px;
}

.footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-font{
    color: #667085;
    font-weight: 400;
    font-size: 16px;
    max-width: 1565px; 
    width: 100%; 
    margin: 0 auto 0 auto; 
}

.body-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}