*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(/assests/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    font-family: "Inter";
}

.header{
    height: 72px;
    background-color: 1px solid #EAECF0;
    padding: 20px 160px;
}

.header-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.title-container{
    display: flex;
    align-items: center;
    color: #354153;
    gap: 16px;
    width: 169px;
    height: 32px;
}